.vc/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

Content/StarterContent/

*.sln
*.suo
*.workspace
*.pri
*.pro
*.kdev4
*.VC.db
*.VC.VC.opendb

.kdev4/
.clang/
.directory/

Makefile
CMakeList.txt
Output-Build.txt
.vs/